body {
  font-family: "Open Sans", sans-serif;
  color: #404041;
  font-weight: 300;
}


header {
  padding: 5px;
  text-align: center;
  background-color: #404041;
}

button {
  border-radius: 21px;
  background-color: #D0D2D3;

  border-width: 0px;
  color: #fff;
  font-size: 24px;
  padding: 7px;
  width: 201px;
  margin: 0px 11px 0px 11px;
  font-weight: 300;
  letter-spacing: 1px
}
.enabled-button:hover:active {
  background-color: #EB008b;
}
button:focus {outline:0;}

h1 {
  font-size: 48px;
}

p {
  font-size: 20px;
}

.highlight {
  color: #ED458B;
}

.non-highlight {
  font-weight: 300;
  color: #e6e7e8;
}

.centering-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.enabled-button {
  background-color: #929497;
}


#number-input {
  margin: 45px;
  width: 424px;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
}

#last-guess-container {
  margin: 40px 0px 40px 0px;
}

#last-guess {
  color: #EB008b;
  font-size: 178px;
  margin: -50px;
  font-weight: 300;
  height: 240px;
}

#reset-button {
  width: 424px;
  margin-bottom: 75px;
}

#errors {
  margin-top: -35px;
  font-size: 17px;
  margin-bottom: 18px;
  color: red;
  height: 17px;
}
