body {
  font-family: "Open Sans", sans-serif;
  color: #E6e7e8;

}


header {
  padding: 5px;
  text-align: center;
  background-color: #404041;
}

h1 {
  font-size: 48px;
}

.highlight {
  color: #ED458B;
}

.non-highlight {
  font-weight: 300;
}
